{% from "components/identity_actions.html" import identity_actions with context %}

{% macro identity_row(identity) %}

<tr class="row-clickable">

    <!-- EMAIL -->
    <td class="align-middle">
        <a href="/identities/{{ identity.id }}"
           class="font-weight-bold text-dark text-decoration-none">
            {{ identity.email }}
        </a>
    </td>

    <!-- USUARIO -->
    <td class="align-middle">
        {% if identity.usuario %}
            <a href="/users/{{ identity.usuario.id_usuario }}">
                {{ identity.usuario.nombre }}
            </a>
        {% else %}
            <span class="text-muted">Sin usuario</span>
        {% endif %}
    </td>

    <!-- PROVIDER -->
    <td class="align-middle text-center">
        {% set provider = identity.provider or "local" %}

        {% set color = {
            "local": "secondary",
            "google": "danger",
            "github": "dark",
            "microsoft": "primary"
        }[provider] if provider in ["local","google","github","microsoft"] else "info" %}

        <span class="badge badge-{{ color }}">
            {{ provider }}
        </span>
    </td>

    <!-- ACCIONES -->
     <td class="align-middle text-center text-nowrap">
        {{ identity_actions(identity) }}
    </td>

</tr>

{% endmacro %}