{% macro input(name, label=None, value="", errors=None, type="text", required=False, placeholder="") %}

<div class="form-group mb-0">

    {% if label %}
        <label for="{{ name }}">{{ label }}</label>
    {% endif %}

    <input
        type="{{ type }}"
        name="{{ name }}"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        class="form-control {% if errors %}is-invalid{% endif %}"
        {% if required %}required{% endif %}
    >

    {% if errors %}
    <div class="invalid-feedback">
        {{ errors[0] }}
    </div>
    {% endif %}

</div>

{% endmacro %}