DATABASE_URL=mysql+pymysql://user:password@localhost/aula_robotica

SECRET_KEY=your_secret_key_here

ACCESS_TOKEN_EXPIRE_MINUTES=60

DEBUG=True

APP_BASE_URL=http://localhost:8000

SAML_ENTITY_ID=http://localhost:8000
SAML_ACS_URL=http://localhost:8000/auth/saml/acs
SAML_METADATA_URL=http://localhost:8000/auth/saml/metadata