# Entornos virtuales
.venv/
venv/

# Variables de entorno
.env

# Caché Python
__pycache__/
*.pyc
*.pyo

# Archivos temporales
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Contexto para LLMs
LLM_CONTEXT/

# Storage
storage/activity_attachments/*
!storage/activity_attachments/.gitkeep

